body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(229, 229, 236);
    

}

#header{
    
    background-image: url('/Ubuntu/home/ryans/Development/code/phase1/phase-1-anime-quotes-project/readme_img/steinsgatelogo.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    
}


button{
    position: relative;
    border: none;
    height: 2rem;
    border-radius: 8px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.search-anime-form{
    display: none;
}

.search-char-form{
    display: none;
}

input.submit{
    border-radius: 8px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: none;
}

.input-text{
    
    border-radius: 5px;
}

#quote-list{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#anime-list{
    font-family: Georgia, 'Times New Roman', Times, serif;
}


#back{
    display: none;
    color: black;
}

#forward{
    display: none;
    color: black;
}
